/* Background image for the entire page */
.inscription-container {
  background-image: url('/assets/banner_back.webp');
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ensures it covers the whole viewport */
  padding: 100px;
  padding-top: 80px;
  text-align: center;
}

/* Style for the heading */
.inscription-heading {
  color: #D32121;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 80px;
  font-family: sans-serif;
}

/* Container for all rectangles and images */
.rectangles-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.rectangle-container {
  width: 30%;
  max-width: 350px;
  text-align: center;
  font-family: sans-serif;
}

/* Style for the rectangles */
.rectangle {
  width: 100%;
  height: 75px;
  background-color: #78A192;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for the text inside the rectangles */
.rectangle-text {
  color: #F8F8F8;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
}

/* Style for the images */
.rectangle-image {
  margin-top: 10px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* Optional: Add hover effect for the images */
.rectangle-image:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .rectangle-container {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .rectangle-container {
    width: 100%;
  }
}
