/* location.css */
.location-container {
    display: flex;
    min-height: 100vh;
  }
  
  /* Left Side: Google Maps */
  .map-container {
    flex: 0.55; /* Reduce the width of the map container */
    display: flex;
    align-items: stretch; /* Ensure the map stretches to the bottom */
    position: relative;
  }
  
  .map-container iframe {
    width: 100%;
    height: 100%; /* Ensure the iframe takes up the full height */
    border: 0;
  }
  
  /* Right Side: Content */
  .content-container {
    flex: 0.60; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    background-color: #f8f8f8;
  }
  
  .title {
    color: #d32121;
    font-size: 1.8rem; 
    margin-bottom: 8px;
    text-align: center; /* Center the title */
    padding-top: 75px;
  }
  
  .text {
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 15px;
    max-width: 80%; /* Limit width to prevent text from being too wide */
    color: #3f0d12;
  }
  
  .text a {
    color: #d32121;
    text-decoration: none;
  }
  
  .text a:hover {
    text-decoration: underline;
  }
  
  /* Rectangle with Reminder */
  .reminder-rectangle {
    background-color: #545e56;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    height: 70px;
    text-align: center;
    margin-bottom: 15px;
    align-self: flex-start; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px; /* Add margin to the left to push it to the right */
  }
  
  .reminder-text {
    color: #faf1d3;
    font-size: 15px; 
    margin: 0;
  }
  
  /* University Map Image */
  .university-map-container {
    width: 100%; 
    margin-top: auto; 
    flex: 1; /* Ensure the image stretches to the bottom */
    display: flex;
    align-items: flex-end; /* Align the image to the bottom */
  }
  
  .university-map {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
  }